<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/persona" class="nav-link active">Persona</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/planeta" class="nav-link">Planeta</a>
                </li>

            </ul>

        </div>
    </div>
</nav>